@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");

/* Docs pages
   ------------------------------------------------------- */

div.frontpage {
}
div.frontpage:after {
  content: "";
  display: table;
  clear: both;
}
div.frontpage-section {
  width: 254px; height: 220px; float: left; margin: 0 15px 0 0; display: inline;
}
div.frontpage-section img {
  width: 254px; height: 120px; margin: 0 0 10px 0; -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3); box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
div.frontpage-section img:hover {
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.7); -moz-box-shadow: 0 0 12px rgba(0,0,0,0.7); box-shadow: 0 0 12px rgba(0,0,0,0.7);
}
div.frontpage-section h3 {
  margin: 0 0 10px 0;
}
div.frontpage-section h3 a {
  color: #555;
}
div.frontpage-topsection {
  width: 330px; height: 182px; float: left; margin: 0 15px 0 0; display: inline;
}
div.frontpage-topsection h3 {
  margin: 0 0 10px 0;
}
div.frontpage-topsection h3 a {
  color: #555;
}

/* Template
   ------------------------------------------------------- */
   
.navbar-brand {
	display: block;
	margin-left: auto;
	margin-right: auto 
}

/* Make container auto adjust up to 1300px */
.container {
  width: initial;
  max-width: 1300px;
}

/* Clickability fix for selector on sm devices */
@media (min-width: 768px) and (max-width: 991px) {
  article h1:first-of-type:before {
    height: 0;
    margin-top: 0;
  }  
}

#search {
  border: none;
}

.fa-code {
  font-size: 19px;
}

.sidetoc,
body .toc,
.sidefilter,
.sidetoggle { 
  background-color: #f9fbe7; 
}

.sidenav,
.toc-toggle {
  padding: 0;
}

.sidetoggle {
  padding-bottom: 15px;
}

/* Remove center align from Navbar and Collapsible section */
.collapse.in,
.collapsing {
  text-align: unset;
}

article h4 {
  border-bottom: none;
}

@media (min-width: 768px) {
  .sidetoc, .sidefilter {
    margin-left: -15px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    text-align: center !important;
  }

  .navbar-collapse li .active {
    border-radius: 20px;
  }
}

/* Collapsible Sections
   ------------------------------------------------------- */
.expander:after {
    font-family: 'Glyphicons Halflings';
    content: "\e260";
    margin-left: 5px;
    color: grey;
    font-size: small;
}

.expander.collapsed:after {
    content: "\e259";
}

/* Sidebar */

.affix h5 {
  display: none;
}

/* active & hover links */
.affix ul > li > a:hover,
.affix ul > li.active > a,
.affix ul > li > a:focus {
  color: #28499a;
  text-decoration: none;          
  background-color: transparent;
  border-left-color: #28499a;
}

/* all active links */
.affix ul > li.active > a,
.affix ul > li.active:hover > a,
.affix ul > li.active:focus >a {
    font-weight: 600;
}

/* nested active links */
.affix ul ul > li.active > a, 
.affix ul ul > li.active:hover > a,
.affix ul ul > li.active:focus > a {
    font-weight: 500;
}

/* all links */
.affix ul > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: 400;
}

/* nested links */
.affix ul ul > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 11px;
}

/* hide inactive nested list */
.affix ul ul {
  display: none;
}

/* show active nested list */
.affix ul > li.active > ul {
  display: block;
}

.affix > ul > li > a:before {
  content: '';
}

.affix ul ul > li > a:before {
  content: '';
}

/* Navbar Hamburger
   ------------------------------------------------------- */
.icon-bar {
    transition: 0.4s;
}

/* Rotate first bar */
.change .icon-bar:nth-of-type(2) {
    transform: rotate(-45deg) translate(-4px, 5px) ;
}

/* Fade out the second bar */
.change .icon-bar:nth-of-type(3) {
    opacity: 0;
}

/* Rotate last bar */
.change .icon-bar:nth-of-type(4) {
    transform: rotate(45deg) translate(-4px, -5px) ;
}

/* Custom Navbar
   ------------------------------------------------------- */
.navbar-inverse {
  background-color: #283f9a;
  opacity: 0.95;
  border-color: #283f9a;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #c9c9c9;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #132F75;
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #c9c9c9;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #132F75;
}
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #c9c9c9;
}
.navbar-inverse .navbar-toggle {
  border-color: #132F75;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #132F75;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}
.navbar-inverse .navbar-link {
  color: #ffffff;
}
.navbar-inverse .navbar-link:hover {
  color: #c9c9c9;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c9c9c9;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c9c9c9;
    background-color: #132F75;
  }
}